<!DOCTYPE html>
<html>
    <head>
        <title>Short URL Generator</title>
    </head>
    <body>
        <div>
            <form method='post' action={{ url_for('home') }}>
                Enter URL:<br>
                <input type='text' name='url' value=''><br>
                <button type='submit'>Submit</button>
            </form>
            <div>
                <li>Original: {{url}}</li>
                <li>Shorten: {{result}}</li>
            </div>
        </div>
    </body>
</html>